/* temp styles */


/* general styles */

body {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  height: 100%;
  width: 100%;
}

h1 {
  font-size:3rem;
  font-weight: bold;
}
p {
  font-size:1.5rem;
  font-weight: 100;
}
.justify{
  text-align: justify;
  padding: var(--l)
}

.wrapper{
  display:flex;
  justify-content: space-around;

}
.fullwidth{
  width: 100%;
  text-align:center;
}

.padding{
  padding: 2rem 0;
}
.navbar{
  box-shadow: var(--shadow);
  display: grid;
 /* position: fixed; */
  width:100%;
}

.carousel{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer{

}

.cbox{
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  margin: var(--l);
}
.cbox-text{
  width: 100px;
  margin: var(--l);
}

.dark-background{
  background-color: var(--background-dark);
}
.lateral{
  flex-basis:20%;
}

.left{
  justify-content: flex-start;
}
.right{
  left: -100px;
}

.main-content{
  flex-basis:80%;
  max-width: 1024px;
}

/* specific styles */
.navbar__logo{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  width: 2.4rem;
  height: 2.4rem;
  margin: var(--m);

}

.navbar__searchbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-box{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  height: 2.4rem;
  margin: var(--m);
}

.navbar__login{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  margin: var(--m);
  padding: var(--m) 2rem;
  border: 0;
}
.end{
  justify-self: end;
}
