/* temp styles */


/* general styles */

body {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  height: 100%;
  width: 100%;
}

h1 {
  font-size:3rem;
  font-weight: bold;
}
h2{
  font-size:1.8rem;
  padding:var(--l) 0;
}
p {
  font-size:1.5rem;
  font-weight: 100;
}
.narrow{
  max-width:75%;
  margin:0 auto;
}
.justify{
  text-align: justify;
  padding: var(--l)
}

.wrapper{
  display:flex;
  justify-content: space-around;
}

.fullwidth{
  text-align:center;
  margin:0 auto;
  padding: 3rem 0;
  max-width: 1024px;
}

.padding{
  padding: 2rem 0;
}
.navbar{
  box-shadow: var(--shadow);
  display: grid;
 /* position: fixed; */
  width:100%;
}

.carousel{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.blog{
  display: block;
  align-items: center;
}
.blog-img{
  width: 200px;
  height: 200px;
  background-color: var(--secondary-color);
}
.blog-left{
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.blog-left > .blog-img{
  margin-right:2rem;
}
.blog-right{
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0;
  text-align: right;
  align-items:center;
}
.blog-right > .blog-img{
  margin-left:2rem;
}

.footer{
  display: grid;
  grid-template-columns: 6fr repeat(4, 1fr);
  margin: 2rem auto;
}

.cbox{
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  margin: var(--l);
}
.img-box{
  background-color: var(--secondary-color);
  height: 150px;
  width: 150px;
  margin: var(--l);
}
.cbox-text{
  width: 100px;
  margin: var(--l);
}

.dark-background{
  background-color: var(--background-dark);
}


.left{
  justify-content: flex-start;
}
.right{
  left: -100px;
}

.main-content{
  flex-basis:80%;
  max-width: 1024px;
  margin:0 auto;
}

/* specific styles */
.navbar__logo{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  width: 2.4rem;
  height: 2.4rem;
  margin: var(--m);

}

.navbar__searchbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-box{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  height: 2.4rem;
  margin: var(--m);
}

.navbar__login{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  margin: var(--m);
  padding: var(--m) 2rem;
  border: 0;
}
.end{
  justify-self: end;
}

.button-xl{
  background-color: var(--secondary-color);
  border-radius: var(--round-border);
  margin: var(--m);
  padding: 2rem 3.5rem;
  border: 0;
  font-size:1.5rem;
  margin:3rem;
}

footer li{
  margin: var(--s) var(--m);
  list-style: disc;
}
.post-footer{
  background-color: var(--secondary-color);
  display: grid;
}
